{% extends 'base.html' %}

{% block title %}Login - Your Store{% endblock %}

{% block content %}
<section id="login">
    <h2>Login to Your Account</h2>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username or Email:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'registration' %}">Register here</a></p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</section>


{% endblock %}
