{% extends 'base.html' %}

{% block title %}Register - Your Store{% endblock %}

{% block content %}
<section id="register">
    <h2>Create Your Account</h2>
    <form action="{% url 'registration' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password1">Password:</label>
        <input type="password" id="password1" name="password1" required>

        <label for="password2">Confirm Password:</label>
        <input type="password" id="password2" name="password2" required>

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

</section>


{% endblock %}
